// Defaults
html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*  font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;   */

// Types
body {
	overflow: hidden;
	background-color: $violet;
	color: white;
	font-size: 16px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400; 
	border: none;
}

// Classes
.bg__image {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-image: url(/images/bg-desktop.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	@media screen and (max-width: 375px) {
		background-image: url(/images/bg-mobile.svg);
	}
}

.logo {
	padding: 3rem;
}

.content {
	display: flex;
	padding: 3rem;
}

.illustration {
	width: 110%;
	height: auto;
}

.illustration img {
	width: 100%;
	height: auto;
}

.text {
	padding-left: 3rem;
}

.text h1 {
	font-size:3rem;
}

.text p {
	font-size: 18px;
	word-spacing: 0.1rem;
	line-height: 150%;
}

.text button {
	color: $violet;
	margin: 0.5rem 0;
	padding: 0.75rem 4rem;
	border-radius: 3rem;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.384);
	font-size: 18px;
}